body {background-color: powderblue;}
h1 {color: blue;}
h1.center {text-align: center; color: orange;}
p {color: red;}
p.centro {text-align: center; font-size: 24px; font-weight: bold; font-style: italic; line-height: 24px; font: Arial; border-color: purple; border-style: double; border-width: 10px; border-bottom-right-radius: 20px; border-radius: 25px; box-shadow: 10px 10px 8px #888888;}

#Amarelo{color: yellow;}

#paragrafo1 {color: gray;}
#paragrafo2 {color: blue;}

.Vermelho {color: red;}
.Azul {color: blue;}