* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cabecalho {
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.fundo {
    background: url("universo.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.barra_de_menus {
    height: 100px;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu {
    height: 100px;
    width: 100px;
    border: 1;
    border-style: solid;
    border-color: black;
    align-content: center;
    background-color: black;
    text-align: center;
}

.botao {
    background-color: red;
    height: 40px;
    width: 94px;
}

.logo {
    height: 90px;
    width: 6vw;
    display: flex;
    justify-content: left;
}

.imagem {
    height: 40vh;
    width: 40vw;
    display: flex;
    align-content: center;
    position: absolute;
    top: 25%;
    left: 38%;
}

.botao_logo {
    background-color: black;
    border: 0;
}

.reclamacao {
    display: flex;
    align-content: center;
    position: absolute;
    top: 90%
}

.texto {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 85%;
    color: white;
    width: 100vw;
}

.escolha {
    display: flex;
    align-content: center;
    position: absolute;
    top: 90%;
    color: white;
}